*, *:before, *:after {
  box-sizing: border-box; }

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-family: sans-serif;
  color: #004155; }

body {
  margin: 0; }

.separator {
  height: 4px;
  margin: 8px;
  background-color: #004155; }

.separator-small {
  height: 2px;
  margin: 8px 4px;
  background-color: #004155; }

.bold {
  font-weight: bold; }

header {
  padding: 8px;
  background-color: #B9EFFF; }

nav {
  position: relative; }

nav .decoration {
  display: inline-block;
  padding: 3px 2px;
  box-shadow: 0 -2px 0 0 white, 0 2px 0 0 white; }

nav a {
  padding: 4px;
  text-decoration: none;
  transition: .1s all;
  box-shadow: inset 0 0px 0 0 #004155; }
  nav a.set {
    box-shadow: inset 0 -2px 0 0 #004155; }

nav a:not(:last-child) {
  position: relative;
  margin-right: 8px; }
  nav a:not(:last-child):hover {
    color: #E4F9FF;
    box-shadow: inset 0 -32px 0 0 #004155; }

.default-button {
  background-color: #004155;
  border: none;
  color: #E4F9FF;
  cursor: pointer; }

.wrapper {
  padding: 16px; }

.page-wrap {
  max-width: 960px; }

.center-content-margin {
  margin: auto; }

.center-content-text {
  text-align: center; }

.page-wrap {
  max-width: 960px; }

.error-message {
  font-size: 12px;
  color: red; }

.success-message {
  font-size: 12px;
  font-weight: bold;
  color: green; }

.content-header {
  margin-top: 16px; }

.tab-container {
  display: block;
  padding-top: 8px;
  margin: 8px auto 0; }
  .tab-container > input {
    display: none; }
  .tab-container > label {
    display: inline-block;
    position: relative;
    top: 8px;
    padding: 8px 8px 16px;
    border-radius: 8px 8px 0 0;
    background-color: #B9EFFF;
    box-shadow: 0 0 0 2px black;
    font-weight: bold;
    cursor: pointer;
    opacity: .5; }
    .tab-container > label:nth-of-type(1) {
      margin-left: 8px; }
  .tab-container .tab-view {
    z-index: 2;
    position: relative;
    background-color: white; }
  .tab-container .tab-view-1 {
    display: none; }
  .tab-container #tab-1:checked ~ label[for="tab-1"] {
    z-index: 1;
    top: 0px;
    opacity: 1; }
  .tab-container #tab-1:checked ~ .tab-view-1 {
    display: block; }
  .tab-container .tab-view-2 {
    display: none; }
  .tab-container #tab-2:checked ~ label[for="tab-2"] {
    z-index: 1;
    top: 0px;
    opacity: 1; }
  .tab-container #tab-2:checked ~ .tab-view-2 {
    display: block; }
  .tab-container .tab-view-3 {
    display: none; }
  .tab-container #tab-3:checked ~ label[for="tab-3"] {
    z-index: 1;
    top: 0px;
    opacity: 1; }
  .tab-container #tab-3:checked ~ .tab-view-3 {
    display: block; }
  .tab-container .tab-view-4 {
    display: none; }
  .tab-container #tab-4:checked ~ label[for="tab-4"] {
    z-index: 1;
    top: 0px;
    opacity: 1; }
  .tab-container #tab-4:checked ~ .tab-view-4 {
    display: block; }

.component-defaults {
  border-radius: 10px;
  background-color: #B9EFFF;
  word-break: break-all; }
  .component-defaults .content {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #004155; }
    .component-defaults .content:hover img {
      opacity: .8; }
  .component-defaults .title {
    padding: 0 4px;
    font-family: "Impact"; }
  .component-defaults .center {
    padding: 4px; }
    .component-defaults .center .media .single img {
      width: 100%; }
    .component-defaults .center .media .gallery li {
      max-width: 100px;
      max-height: 100px;
      list-style: none; }
      .component-defaults .center .media .gallery li img {
        max-width: 100%;
        max-height: 100%; }
    .component-defaults .center .metadata h3 {
      display: inline; }
    .component-defaults .center .from {
      font-size: 12px;
      font-style: italic; }

.listing-defaults {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.split-box {
  display: flex; }
  .split-box .split-content {
    width: 50%; }
    .split-box .split-content:nth-of-type(1n) {
      padding-right: 8px; }
    .split-box .split-content:nth-of-type(3n) {
      padding-left: 8px; }
  .split-box .splitter {
    width: 4px;
    margin: 0;
    background-color: #004155;
    flex-shrink: 0; }
  .split-box .metadata {
    display: flex; }
    .split-box .metadata .column {
      width: 50%; }

/* search box */
#search-wrapper {
  padding: 16px; }

#listing-search-component {
  max-width: 500px; }
  #listing-search-component .title {
    text-align: center; }
  #listing-search-component .column {
    display: inline-flex;
    flex-wrap: wrap;
    width: 33.3333333%;
    padding: 0 8px; }
    #listing-search-component .column label {
      width: 36px;
      flex-shrink: 0; }
      #listing-search-component .column label.top {
        display: inline-block;
        width: 100%;
        text-align: center; }
    #listing-search-component .column .labeled-select {
      width: 100%; }
    #listing-search-component .column .side-by-side {
      display: flex;
      width: 100%; }
    #listing-search-component .column input, #listing-search-component .column select {
      width: 100%; }
  #listing-search-component .row:not(:last-child) {
    margin-bottom: 16px; }

/* listing items */
#listings-wrapper {
  padding: 8px; }

.listing-item, .review-item {
  display: inline-block;
  width: 25%;
  padding: 4px; }
  .listing-item .wrapper, .review-item .wrapper {
    transition: .1s all;
    box-shadow: 0 0 0 2px #004155;
    border-radius: 5px;
    background-color: #B9EFFF; }
  .listing-item:hover .wrapper, .review-item:hover .wrapper {
    transform: scale(1.1);
    box-shadow: 0 0 0 4px #004155; }

#send-message-component {
  padding: 16px;
  box-shadow: 0 -4px 0 0 #004155; }
  #send-message-component form {
    padding: 16px; }
  #send-message-component .row:not(:nth-of-type(1n-1)) {
    margin-bottom: 8px; }
  #send-message-component input, #send-message-component textarea {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
