*, *:before, *:after {
    box-sizing: border-box;
}

$dark: #004155;
$light: #B9EFFF;
$offWhite: #E4F9FF;

ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-family: sans-serif;
    color: $dark;
}

body {
    margin: 0;
}

.separator {
    height: 4px;
    margin: 8px ;
    background-color: $dark;
}

.separator-small {
    height: 2px;
    margin: 8px 4px;
    background-color: $dark;
}

.bold {
    font-weight: bold;
}

header {
    padding: 8px;
    background-color: $light;
}

nav {
    position: relative;
}
nav .decoration {
    display: inline-block;
    padding: 3px 2px;
    box-shadow: 0 -2px 0 0 white,
    0 2px 0 0 white;
}
nav a {
    padding: 4px;
    text-decoration: none;
    transition: .1s all;
    box-shadow: inset 0 -0px 0 0 $dark;

    &.set {
        box-shadow: inset 0 -2px 0 0 $dark;
    }
}
nav a:not(:last-child) {
    position: relative;
    margin-right: 8px;
    &:hover {
        color: $offWhite;
        box-shadow: inset 0 -32px 0 0 $dark;
    }
}
// nav .highlighter {
//     position: absolute;
//     height: 100%;
//     background-color: $dark;
//     // box-shadow: -2px 0 0 0 white,
//     // 2px 0 0 0 white;
//     transition: .1s all;
//     pointer-events: none;
// }

.default-button {
    background-color: $dark;
    border: none;
    color: $offWhite;
    cursor: pointer;
}

.wrapper {
    padding: 16px;
}

.page-wrap {
  max-width: 960px;
}

.center-content-margin {
  margin: auto;
}

.center-content-text {
  text-align: center;
}

.page-wrap {
  max-width: 960px;
}

.error-message {
  font-size: 12px;
  color: red;
}

.success-message {
  font-size: 12px;
  font-weight: bold;
  color: green;
}

.content-header {
    margin-top: 16px;
}

.tab-container {
    display: block;
    padding-top: 8px;
    margin: 8px auto 0;

    > input {
        display: none;
    }
    > label {
        display: inline-block;
        position: relative;
        top: 8px;
        padding: 8px 8px 16px;
        border-radius: 8px 8px 0 0;
        background-color: $light;
        box-shadow: 0 0 0 2px black;
        font-weight: bold;
        cursor: pointer;
        opacity: .5;

        &:nth-of-type(1) {
            margin-left: 8px;
        }
    }

    .tab-view {
        z-index: 2;
        position: relative;
        background-color: white;
    }

    @for $i from 1 through 4 {
        .tab-view-#{$i} {
            display: none;
        }

        #tab-#{$i}:checked {
            & ~ label[for="tab-#{$i}"] {
                z-index: 1;
                top: 0px;
                opacity: 1;
            }
            & ~ .tab-view-#{$i} {
                display: block;
            }
        }
    }
}

.component-defaults {
    &#list-item-detailed-component, &#review-item-detailed-component {
        // display: block;
        // max-width: 960px;
        // margin: auto;
    }
    // display: inline-block;
    border-radius: 10px;
    // box-shadow: 0 0 2px 1px black;
    background-color: $light;
    // color: black;
    word-break: break-all;

    .content {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $dark;
        &:hover {
            img {
                opacity: .8;
            }
        }
    }
    .title {
        padding: 0 4px;
        font-family: "Impact";
    }
    .center {
        padding: 4px;
        .media {
            .single {
                img {
                    width: 100%;
                }
            }
            .gallery {
                li {
                    max-width: 100px;
                    max-height: 100px;
                    list-style: none;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        .descriptions {}
        .metadata {
            h3 {
                display: inline;
            }
            .meta-width {

            }
            .meta-height {}
            .meta-lenth {}
            .meta-weight {}
            .meta-color {}
        }
        .from {
            font-size: 12px;
            font-style: italic;
        }
    }
}

.listing-defaults {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* search box */
#search-wrapper {
    padding: 16px;
}
#listing-search-component {
    max-width: 500px;
    // padding: 8px;
    // margin: auto;
    // border-radius: 8px;
    // box-shadow: inset 0 0 4px 0px,
    // 0 0 4px 0px;
    // background-color: rgba(100, 100, 100, 0.5);
    .title {
        text-align: center;
    }
    .column {
        display: inline-flex;
        flex-wrap: wrap;
        width: 33.3333333%;
        padding: 0 8px;
        label {
            width: 36px;
            flex-shrink: 0;

            &.top {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
        .labeled-select {
            width: 100%;
        }
        .side-by-side {
            display: flex;
            width: 100%;
        }

        input, select {
            width: 100%;
        }
    }
    .row {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
}

/* listing items */
#listings-wrapper {
    padding: 8px;
}
#listings-component, #reviews-component {
}
.listing-item, .review-item {
    display: inline-block;
    width: 25%;
    padding: 4px;

    & .wrapper {
        transition: .1s all;
        box-shadow: 0 0 0 2px $dark;
        border-radius: 5px;
        background-color: $light;
    }

    &:hover .wrapper {
        transform: scale(1.1);
        box-shadow: 0 0 0 4px $dark;
    }
}

#send-message-component {
    // display: block;
    // max-width: 960px;
    padding: 16px;
    // border-radius: 4px;
    box-shadow: 0 -4px 0 0 $dark;
    // color: black;
    form {
        padding: 16px;
    }
    .row:not(:nth-of-type(1n-1)) {
        margin-bottom: 8px;
    }
    input, textarea {
        width: 100%;
    }
}
